langchain
langchain-core
langchain-community
langchain-mistralai
mistralai
langchain-huggingface
chromadb
sentence-transformers
pypdf
python-dotenv
numpy
fastapi
uvicorn
python-multipart
PyJWT
psycopg2-binary
pwdlib[argon2]